#!/bin/sh

setxkbmap -layout us,ru
setxkbmap -option 'grp:ctrl_space_toggle'
# 'CAPS' key duplicates 'Win'
setxkbmap -option 'caps:super'

# Keyboard key repeat delay in ms and repeats per second
xset r rate 200 30

